body {
  background-color: rgb(38, 28, 29);
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: rgb(236, 100, 78);
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}
p {
  color: rgb(253, 234, 223);
  font-size: 1rem;
}
legend {
  color: rgb(236, 100, 78);
  font-size: 2.5rem;
}
label {
  color: rgb(253, 234, 223);
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logo {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 5px;
}
header .name {
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: rgb(236, 100, 78);
  font-family: "Raleway", sans-serif;
}
header .nav-bar {
  height: auto;
  display: flex;
}
li {
  list-style: none;
}
a {
  color: rgb(236, 100, 78);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

main .containerbio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.img-1 {
  width: 30%;
  height: 30%;
}
.img-2 {
  width: 30%;
  height: 30%;
}
main img {
  max-height: 100%;
  max-width: 100%;
}

.bio {
  height: 30%;
  width: 30%;
}
main section {
  max-width: 100%;
  max-height: 100%;
}

.container-grid {
  height: auto;
  width: auto;

  display: flex;
  flex-flow: row wrap;
}
.container-grid .grid-img-vertical {
  width: 30%;
  height: auto;
}
.container-grid .grid-img-horizontal {
  width: auto;
  height: 30%;
}
.container-grid .img {
  height: 100%;
  width: 100%;
}
